<p id="notice"><%%= notice %></p>

<% for attribute in attributes -%>
<p>
  <b><%= attribute.human_name %>:</b>
  <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
</p>

<% end -%>
<p>
  <b><%= scaffold_parameter.titleize %>:</b>
  <%%= link_to @<%= singular_table_name %>.<%= scaffold_parameter %>_file_name, @<%= singular_table_name %>.<%= scaffold_parameter %>.url %>
</p>

<%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>) %> |
<%%= link_to 'Back', <%= index_helper %>_path %>
